<html lang="en"><head>
<meta charset="utf-8">
<title>BLOCKSHARE TECHNOLOGIES, LLC.</title>
<meta name="description" content="Blockshare Technologies, LLC.">
<meta name="author" content="C.P. O'Neill">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="../static/css/blockStyle.css">
</head>
<body class="pcuser" style="zoom: 1;">

<div id="wrapper">
  <table>
    <tr>
      <td><h1>BLOCKSHARE TECHNOLOGIES</h1></td>
    </tr>
    <tr>
      <td>MACHINE INTELLIGENT MARKETING SERVICES</td>
    </tr>
    <tr>
      <td>More info soon...</td>
    </tr>
  </table>
<div id="particles-js"><canvas class="particles-js-canvas-el" width="1349" height="302" style="width: 100%; height: 100%;"></canvas></div>


<!-- particles.js -->
<script src="../static/js/particle.min.js"></script>
<script>
particlesJS.load('particles-js', 'static/js/particlesjs-config.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>



</body></html>
